#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.visible{
    /* visibility: visible; */
    display: inline;
}
.bdr{
  border: 5px solid red;
  /* visibility: hidden; */
}