* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
}

.main_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn {
  padding: 1em;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 5px;
}
